.graph {
    width: 530px;
    display: block;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    text-align: left;
    height: 320px;
    right: -4px;
    top: 235px;
    position: absolute;
    border-radius: 14px;
}

.graph h2 {
    padding-left: 10px;
    font-size: 1.6em;
    margin-left: 10px;
    font-weight: 500;
}

/* style="display: block;box-sizing: border-box;height: 280px;width: 544px;margin-top: -32px;margin-left: -58px;" */
.graph .chart {
    margin-top: -62px;
    margin-left: -58px;
}