.widget {
    align-items: flex-start;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 430px;
    width: 520px;
    overflow: hidden;
    padding: 24px 0px;
    position: relative;
    margin-top: 18px;
}

.widget .heading {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 24px;
    position: relative;
    width: 100%;
}

.widget .text-wrapper {
    color: var(--variable-collection-black);
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.widget .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.customer:hover {
    transition: all ease-in-out 0.4s;
    background: var(--Light-Orange, #FFF7E8);
    cursor: pointer;
}

.widget .sort-by-newest {
    color: var(--variable-collection-dark-gray);
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    margin-right: 50px;
}

.widget .span {
    color: #454545;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.widget .text-wrapper-2 {
    font-weight: 500;
}

.widget .icon-from-tabler-io {
    height: 14px !important;
    position: relative !important;
    width: 14px !important;
}

.widget .list {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    /* overflow-y: scroll; */
    padding: 0px 8px;
    position: relative;
    width: 100%;
}

.widget .customer {
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    gap: 25px;
    padding: 27px;
    position: relative;
    width: 100%;
}

.widget .avatar-instance {
    background-image: url(https://c.animaapp.com/Q4wm9vEe/img/rectangle-1-3.svg) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: relative !important;
}

.widget .div {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
    justify-content: center;
    position: relative;
}

.widget .text-wrapper-3 {
    color: var(--variable-collection-black);
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.widget .text-wrapper-4 {
    color: var(--variable-collection-dark-gray);
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.widget .customer-2 {
    align-items: center;
    align-self: stretch;
    background-color: var(--variable-collection-light-orange);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 16px;
    position: relative;
    width: 100%;
}

.widget .design-component-instance-node {
    background-image: url(https://c.animaapp.com/Q4wm9vEe/img/rectangle-1-2@2x.png) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: relative !important;
}

.widget .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.widget .icon-from-tabler-io-wrapper {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 36px;
    justify-content: center;
    position: relative;
    width: 36px;
}

.widget .icon-instance-node {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
}

.widget .line {
    height: 24px;
    object-fit: cover;
    position: relative;
    width: 1px;
}

.widget .avatar-2 {
    background-image: url(https://c.animaapp.com/Q4wm9vEe/img/rectangle-1-1@2x.png) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: relative !important;
}

.widget .avatar-3 {
    background-image: url(https://c.animaapp.com/Q4wm9vEe/img/rectangle-1@2x.png) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: relative !important;
}

.widget .button {
    all: unset;
    align-items: flex-end;
    align-self: stretch;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 0px 24px;
    position: relative;
    width: 100%;
}

.widget .text-wrapper-5 {
    color: #734A00;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: normal;
    margin-top: -1px;
    padding-left: 12px;
    position: relative;
    width: fit-content;
}