body {
  font-family: "Inter", Helvetica;

  background: var(--Off-White, #F6F6F3);
}
#root {
  padding: 1rem;
  text-align: center;
}
.div {
  width: 100%;
  margin-left: -10px;
  position: relative;
  display: flex;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.dashboard {
  width: 80%;
  position: relative;
  margin-left: 8px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.cards-top-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 60vw;
  column-gap: 40px;
}
.foot-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 60vw;
  margin-left: -8px;
}
.goal-card {
  width: 200px;
    height: 177px;
    min-width:200px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    background-color: #fff;
    text-align: center;
    margin: auto;
    flex: 0 1 calc(25% - 1em);
    margin-top: 20px;
}
.bottom-card {
  max-width: 400px;
  width: 300px;
  min-width: 280px;
  height: 217px;
  border-radius: 15px;
  padding-left: 20px;
  position: relative;
  background-color: #fff;
  text-align: left;
  flex: 0 1 calc(25% - 1em);
  margin-top: 20px;
}
.bottom-card-1 {
  max-width: 400px;
  width: 300px;
  min-width: 400px;
  height: 217px;
  border-radius: 15px;
  padding-left: 20px;
  position: relative;
  background-color: #fff;
  text-align: left;
  flex: 0 1 calc(25% - 1em);
  margin-top: 20px;
}
.bottom-card-1 .deals {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 8px 8px;
  position: relative;
  width: 100%;
}

.bottom-card-1 .div {
  align-items: center;
  background-color: rgba(255, 247, 232, 1);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-left: -4px;
  padding: 9px 23px 8px 12px;
  position: relative;
  width: auto;
}

.bottom-card-1 .text-wrapper-2 {
  color: var(--variable-collection-dark-orange);
  font-family: "Inter", Helvetica;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: normal;
  position: relative;
  width: fit-content;
}
.goal-card .link {
  color: var(--Dark-Orange, #734A00);
  margin: auto;
  display: block;
}
.headers {
  display: flex;
}
.headers .sort {
  position: absolute;
  right: 0;
  padding: 10px;
  margin-top: 15px;
}
.goal-card img {
  width: 150px;
  margin: auto;
}
.dashboard .charts {
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
  text-align: left;
    padding: 20px;
    margin-top: 20px;
}
.customer-card {
  min-width: 500px;
  height: 300px;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  text-align: left;
  flex: 0 1 calc(25% - 1em);
  margin-top: 20px;
}
.customer-card .sort {
  display: flex;
}
.customer-card .cust-list{
  display: block;
}
.customer-card .cust-list .left-sec{
  /* display: flex; */
}

.div-2 {
  letter-spacing: -0.2px;
  font: 600 20px Inter, sans-serif;
}
.div-3 {
  justify-content: space-between;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #ffcd71 -2.57%,
    rgba(255, 205, 113, 0) 112.5%
  );
  display: flex;
  margin-top: 24px;
  gap: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 6px 8px;
}
.div-4 {
  font: 600 14px Inter, sans-serif;
}
.div-5 {
  text-align: right;
  margin: auto 0;
  font: 500 10px Inter, sans-serif;
}
.div-6 {
  justify-content: space-between;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #ffcd71 -2.57%,
    rgba(255, 205, 113, 0) 112.5%
  );
  display: flex;
  margin-top: 8px;
  gap: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 6px 10px;
}
.div-7 {
  font: 600 14px Inter, sans-serif;
}
.div-8 {
  text-align: right;
  margin: auto 0;
  font: 500 10px Inter, sans-serif;
}
.div-9 {
  justify-content: space-between;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #ffcd71 -2.57%,
    rgba(255, 205, 113, 0) 112.5%
  );
  display: flex;
  margin-top: 8px;
  gap: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 6px 11px;
}
.div-10 {
  font: 600 14px Inter, sans-serif;
}
.div-11 {
  text-align: right;
  margin: auto 0;
  font: 500 10px Inter, sans-serif;
}
.div-12 {
  justify-content: space-between;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #ffcd71 -2.57%,
    rgba(255, 205, 113, 0) 112.5%
  );
  display: flex;
  margin-top: 8px;
  gap: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 6px 15px;
}
.div-13 {
  font: 600 14px Inter, sans-serif;
}
.div-14 {
  text-align: right;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 500 10px Inter, sans-serif;
}
.name{
  display: flex;
}
.customer-card .cust-list .left-sec img{
  width: 50px;
  height: 50px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.bottom-card .notif {
  font-size: 0.8em;
  margin-top: 20px;
}
.bottom-card .imgRow {
  display: flex;
    justify-content: space-evenly;
    margin-left: -45px;
    margin-top: 18px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
